E87N_SOURCE_URL=https://github.com/ZJJCKA/EDGEPI-E87N.git
E87N_SOURCE_REF=c51dcd733aeda3c24c730ddaff2c54440a72ca6d
DEBIAN_RELEASE=bookworm
DEBIAN_MIRROR=http://deb.debian.org/debian
JOBS=4
ROOTFS_SIZE_MB=4096
BUILD_RAW_IMAGE=1
ROOT_PASSWORD=change-me

